<h2>
  <%= @user.first_name %> 
  <%= @user.last_name %>
</h2>

<div>
  <h4>Info</h4>
  <div>Check Day: <%= @user.check_day_of_month %></div>
</div>

<div>
  <%= form_for @invite do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Invite a friend', class: 'submit button', id: 'invite' %>
    <%= hidden_field_tag 'group_id', @user.groups.first.id %>
    <%= hidden_field_tag 'user_id', @user.id %>
  <% end %>
</div>

<div>
  <%= render partial: 'groups/show', locals: {group: @user.groups.first} %>
</div>
