<div id="account_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<ul class="tabs" data-tab>
  	<li class="tab-title active" id = "signup-link" ><a href="#signup">Sign up</a></li>
	  <li class="tab-title" id = "login-link" ><a href="#login">Login</a></li>
	</ul>
	<div class="tabs-content">
		<div class="content active" id="signup">
		</div>
		<div class="content" id="login">
		</div>
	</div>
</div>
<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
	  <li class="name">
			<h1><a href="/">Coders > Cancer</a></h1>
	  </li>
	  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>

	<section class="top-bar-section">
		<ul class="right">
			<% if current_user %>
				<li><%= link_to current_user.first_name, current_user, id: "user_profile_link", style: 'display:block;', class: "user_links"%></li>
			  <li><%= link_to 'logout', logout_path, id: "logout_link", style: 'display:block;', class: "user_links"%></li>
			 	<li><%= link_to 'login', login_path, id: "login_link", style: 'display:none;', class: "user_links"%></li>
			  <li><%= link_to 'signup', signup_path, id: "signup_link", style: 'display:none;', class: "user_links"%></li>
			<% else %>
				<li><%= link_to 'username', current_user, id: "user_profile_link", style: 'display:none;', class: "user_links"%></li>
			  <li><%= link_to 'logout', logout_path, id: "logout_link", style: 'display:none;', class: "user_links"%></li>
			 	<li><%= link_to 'login', login_path, id: "login_link", style: 'display:block;', class: "user_links"%></li>
				<li><%= link_to 'signup', signup_path, id: "signup_link", style: 'display:block;', class: "user_links"%></li>
			<% end %>
		</ul>
	</section>
</nav>
